/.env.local
/.env.local.php
/.env.*.local
/config/jwt/
/var/
/vendor/
/migrations/
###> symfony/web-profiler-bundle ###
/public/bundles/
###< symfony/web-profiler-bundle ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
